<strong>Credential Blocked!</strong>
<p>
    A credentials was blocked, which would lead crashing the system. <br/>
    Please take time to check admin panel and figure out what happened.
</p>
<div class="block">
    <div class="block-header">
        The blocked credential information
    </div>
    <div class="block-body">
        Email: {{ credential.email }}
        Proxy: {{ credential.proxy.address }}
    </div>
    <div class="block-footer">
        <a href="#">Check the Credential</a>
    </div>
</div>

