{% extends "layouts/admin_lte_base.html" %}
{% load static %}

{% block body %}
    <section class="content-header">
        <h1>
            <i class="fa fa-balance-scale"></i>
            Proxies
            <small>List view of proxies</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href=""><i class="fa fa-dashboard"></i>Files</a></li>
            <li class="active">Show</li>
        </ol>
    </section>
    
    <section class="content">
        <div class="col-lg-6 col-md-8 col-sm-10 col-sm-offset-1 col-xs-12">
            <form method="post" enctype="multipart/form-data" action="">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary pull-right">Submit</button>
                </div>
            </form>
        </div>
    </section>
    
{% endblock body %}