{% extends "layouts/admin_lte_base.html" %}
{% load static %}

{% block body %}
    <section class="content-header">
        <h1>
            <i class="fa fa-list"></i>
            Tasks
            <small>List view of targets</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="#"><i class="fa fa-list"></i>Tasks</a></li>
            <li class="active">List</li>
        </ol>
    </section>
    
    <section class="content">
        <div class="row">
            <div class="col-sm-12" id="live-view-container">
                {% include 'jobs/_job_list_table.html' %}
            </div>
        </div>
    </section>
    
{% endblock body %}

{% block custom_js %}
{% csrf_token %}
<script type="text/javascript">
$(document).ready(() => {
    window.EmailHunter.tools.enableLiveView()
})
</script>
{% endblock custom_js %}