@import '../../node_modules/font-awesome/css/font-awesome';
@import '../../node_modules/ionicons/dist/css/ionicons';
@import '../../node_modules/bootstrap/dist/css/bootstrap';
@import '../../node_modules/admin-lte/dist/css/AdminLTE';
@import '../../node_modules/admin-lte/dist/css/skins/_all-skins';
@import '../../node_modules/icheck/skins/flat/blue';
@import './carousel';