{% extends "layouts/admin_lte_base.html" %}
{% load static %}

{% block body %}
    <section class="content-header">
        <h1>
            <i class="fa fa-home"></i>
            Dashboard
        </h1>
        <ol class="breadcrumb">
            <li><a href=""><i class="fa fa-home"></i>Home</a></li>
            <li class='active'><a href=""><i class="fa fa-dashboard"></i>Dashboard</a></li>
        </ol>
    </section>
    
    <section class="content">
        <div class="col-lg-6 col-md-8 col-sm-10 col-sm-offset-1 col-xs-12">
            
        </div>
    </section>
    
{% endblock body %}